<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="container pt-10 mx-auto p-4">
      <!-- Header -->
      <div class="bg-white p-6 rounded-lg mb-6">
        <div class="flex items-center">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/694px-Unknown_person.jpg"
            alt="Profile Picture"
            class="w-24 h-24 rounded-full border-4 border-white -mt-16"
          />
          <div class="ml-4">
            <h1 class="text-2xl font-semibold"><%= user.name %></h1>
            <p class="text-gray-600"><%= user.email %></p>
            <div class="flex space-x-2 mt-2"></div>
          </div>
        </div>
      </div>

      <!-- Main Content -->
      <div class="flex">
        <!-- Main Feed -->
        <div class="w-[80vw]">
          <div class="bg-white p-4 rounded-lg mb-6">
            <textarea
              class="w-full p-2 border rounded-lg"
              rows="3"
              placeholder="Write something about yourself here..."
            ></textarea>
            <button class="bg-blue-500 text-white py-1 px-4 rounded mt-2">
              Post
            </button>
          </div>
        </div>
      </div>

      <div class="posts mb-10">
        <div class="min-w-[200px] border">
          <h3 class="3xl">Your Post</h3>

          
        </div>
        
      </div>

      <form action="/logout" method="post">
        <button type="submit" class="px-4 py-2 bg-red-600 text-white">
          logout
        </button>
      </form>
    </div>
  </body>
</html>
